<!DOCTYPE html>
<html lang='pt-BR'>
	<head>
		<meta charset='utf8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>NodeJs</title>	
		<link rel="stylesheet" type="text/css" href="content/index.css">
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	</head>
	<body>
		<p>Este é um projeto de aprendizagem do NodeJs + Express + Bower e tecnologias relacionadas</p>
		<ul>
			<li>
				<a href="2">página 2</a>
			</li>
		</ul>
	</body>
</html>